
@import url('https://fonts.googleapis.com/css?family=Lily+Script+One');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    

}

header{
    background-color: rgba(0, 0, 0, 0.795);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo{
    text-decoration:none;
    color: rgba(0, 204, 255);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a{

    text-decoration:none;
    color: rgba(0, 204, 255);
    font-weight: 500;
    font-size: 1.1em;
    padding-left: 30px;

}
.navigation a:hover{
    color: rgb(255, 255, 255);
}
section{
    padding: 100px 200px;

}



  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(28, 189, 230) 50%, rgb(0, 0, 0) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }

  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }






.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;

}

.main h2{
    
    color: rgb(255, 255, 255);
    font-size: 3em;
    font-weight: 720;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main_btn{
    color: rgb(255, 255, 255);
    background-color:rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.1em ;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}
.main_btn:hover{
    color: rgb(0, 204, 255);
transform: scale(1.1);
}
.social a{
color: rgb(255, 255, 255);
font-size: 1.7em;
padding-right: 10px;

}
.title{
    display: flex;
    justify-content: center;
    color: rgb(245, 250, 252, 0.863);
    font-size: 2.2em;
    font-weight: 600;
    margin-bottom: 30px;

}
.content{
    display: flex;
    justify-content: center;
    flex-direction:row;
    flex-wrap: wrap;
}
.card{
    
    box-shadow: 0 5px 25px rgba(1, 1, 1, 0.808);
    width: 200px;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    transition: 0.7s ease;

} 

.card:hover{
    background-color: rgb(0, 0, 0);
    transform: scale(1.1);
}

.soon{
    color: rgb(0, 238, 255);
    font-family: 'Lily Script One';
    font-size: 50px;
}
.flip-card {
    background-color: transparent;
    width: 250px;
    height: 250px;
    perspective: 1000px;
    margin: 10px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #000000a4;
    color: white;
    padding: 20px;
    transform: rotateY(180deg);
  }

.icon{
    color: rgb(0, 204, 255);
    font-size: 8em;
    text-align: center;
    
}
.info{
    text-align: center;
    color: rgb(255, 255, 255);
}
.info h3{
    color: rgba(245, 250, 252, 0.863);
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
    

} 
.projects{
    background-color: rgba(245, 250, 252, 0.863);
}
.projects h2{
    color: rgb(0, 0, 0);

}
.projects .content {
    margin-top: 30px;
}
.pro-card{
    background-color: white;
    border: 1px solid white;
    min-height: 14em;
    width: 200px;
    overflow: hidden;
    border-radius: 14px;
    margin: 24px;
    transition: 0.7s ease;
}
.pro-card:hover{
    transform: scale(1.1);
}
.pro-img img {
    width:100% ;
}
.pro-card:hover .pro-img{
    opacity:0.8;
}
.pro-info{
    padding: 1em;
}
.pro-cat{
    font-size: 0.8em;
    color: black;
}
.pro-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 14px;
}
.more{
    text-decoration: none;
    color: rgb(0, 204, 255);
    transition: 0.7s;

}
.more:hover{
    transform: scale(1.1);
    color: rgb(0, 0, 0);
}
.card{
    background-color: rgba(65, 91, 97, 0.911);
}

.content .icon {
    font-size: 45px;

}
.contact .info h3{

    color: rgba(245, 250, 252, 0.863);
}
.contact .info p{
    font-size: 20px;
    
}
.footer{
    background-color: rgba(0, 80, 112, 0.719);
    color: white;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}
.f-title{
    font-size: 1.2em;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.911);

}
.f-title span{
 color: rgb(255, 255, 255);


}
.footer .social a{
font-size: 1.2em;
padding: 4 12px 0 0;
color: black;
}
@media (max-width: 1023px) {
    header{
        padding: 12px 20px;
    }
    .navigation a{
        padding-left: 10px;
    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px;
    }
    .main h2{
        font-size: 1em;
    }
    .main h3{
        font-size: 1.6em;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 641px) {
    body{
        font-size: 12px;
    }
    .main h2{
        font-size: 0.8em;
    }
    .main h3{
        font-size: 1.4em;
    }
}
@media (max-width: 300px) {
    body{
        font-size: 10px;
    }
    .main h2{
        font-size: 0.8em;
    }
    .main h3{
        font-size: 1.4em;
    }
}
